<p style="color: green"><%= notice %></p>

    <p><%= "From #{@post.user.name}:" %>
        <%= @post.title %>
    </p><p>
        <%= @post.content %>
    </p>


<div>
    <%= link_to "Edit this post", edit_post_path(@post) %>
|
    <%= link_to "Back to the forum", @post.forum %>

    <%= button_to "Destroy this post", @post, method: :delete %>
</div>